.CircularProgressbar  {
    width: 300px;
    height: 150px;
}

.red .CircularProgressbar-path{
    stroke: #ef5350 !important;
}
.red .CircularProgressbar-text{
    fill: #ef5350 !important;
}

    
.green .CircularProgressbar-path{
    stroke: #66bb6a !important;
}

.green .CircularProgressbar-text{
    fill: #66bb6a !important;
}

.orange .CircularProgressbar-path{
    stroke: #ffa726 !important;
}

.orange .CircularProgressbar-text{
    fill: #ffa726 !important;
}
.sizeAll{
    display: inline-block;
    width: 400px;
    vertical-align: top;
}
.red{
    color: #ef5350;
}
.green{
    color: #66bb6a;
}
.orange{
    color: #ffa726;
}
